.sumi {
  background-color: black;
  color: black;
}

.del {
  text-decoration: line-through;
}

.autolink A {
  text-decoration: none;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: dotted;
}

.code {
  margin: 40px;
}

.code .filename {
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.append {
  border: 1px solid #ff9999;
  padding: 20px
}

.append .date {
  text-align: right;
  color: #ff9999;
  margin-bottom: -20px;
  margin-right: -20px;
}

.red {
  color: red;
}

.qanda {
  border-left: 1px solid blue;
  width: 600px;
  margin-bottom: 30px;
}

.question {
  background: #cccccc;
  padding: 5px;
}

.answer {
  padding: 5px;
}
