@media (max-width: 640px) {

body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #c5ccd4;
  background-image: linear-gradient(90deg, #c5ccd4 0%, #c5ccd4 75%, #cbd2d8 75%, #cbd2d8 100%);
  background-size: 10px 1px;
}

header {
  height: 45px;
  border-top: 1px solid #cdd5df;
  border-bottom: 1px solid #2d3642;
  z-index: 9;
  background: #6d84a2;
  background-image: linear-gradient(180deg, #c1cedf 0%, #8ea2bc 50%, #859ab6 50%, #597498 100%);
}

header a {
  position: absolute;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  font-size: 80%;
  font-weight: bold;
  text-shadow: 0 -0.1em .1em #4c545f;
  background: #476999;
  border: 1px solid #314764;
  box-shadow: 0 1px 0 0 rgbs(255,255,255,0.5);
  background-image: linear-gradient(180deg, #8aa1bf 0%, #5877a2 50%, #476999 50%, #476999 100%);
  padding: 10px;
  height: 15px;
  margin: 3px 0px;
}

header #menu-link {
  left: 3px;
}

header #edit-link {
  right: 3px;
}

header h1 {
  margin:0px;
  font-size: 110%;
  color: #fff;
  font-weight: bold;
  text-shadow: rgba(0,0,0,.6) 0 -0.1em 0;
  text-align: center;
  z-index: 1;
  height: 43px;
  line-height:43px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

article, nav.edit {
  border-radius: 7px;
  border: 1px solid #999;
  background: #fff;
  margin: 15px;
}

article {
  padding: 12px;
}

article form {
  margin: -12px;
}
article form textarea {
  background: transparent;
  border:0px;
  margin:12px;
  width: 90%;
}
article form textarea:after {
  width:100%;
  border-bottom: 1px solid #999;
}

form .pass {
  border-top: 1px solid #999;
}

article form input[type="submit"] {
  display: block;
  background: transparent;
  border: none;
  border-top: 1px solid #999;
  width: 100%;
  text-align: left;
  font-size: 100%;
  color: #000;
  padding: 12px;
}

nav.menu {
  background: #fff;
}

nav.edit li:first-child a {
  border: none;
}

nav.edit li > a {
  display: block;
  padding: 7px;
  border-top: 1px solid #999;
  text-decoration: none;
  color: black;
}

nav ul,
nav li,
nav ul,
nav li {
  display: block;
  margin: 0px;
  padding: 0px;
}

nav.menu li > a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav.menu li > a:before {
  display: block;
  border: 10px solid transparent;
  border-left: 10px solid #ccc;
  content: ' ';
  float: right;
  position: relative;
  right: -10px;
}

nav.menu li > a:after {
  display: block;
  border: 10px solid transparent;
  border-left: 10px solid #fff;
  content: ' ';
  float: right;
  position: relative;
  right: -28px;
}

nav.menu h2 {
  padding: 2px 5px;
  font-size: 90%;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  color: #fff;
  opacity: 0.9;
  background-image: linear-gradient(180deg, #98a6b0 0%, #98a6b0 40%, #b7c1c8 100%);
  border-bottom: 1px solid #e0e0e0;
  margin: 0px;
}
nav.menu p {
  margin: 0px;
}

footer {
  color: #4d4d70;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  font-size: 90%;
  text-align: center;
}

} /* Media query for phone */
